:root {
  --clr-neutral-100: #D5CABD;
  --clr-neutral-200: #BFAF9B;
  --clr-neutral-500: #958979;
  --clr-neutral-900: #35302b;
  --clr-accent-purple-100: #B396C9;
  --clr-accent-purple-500: #7B49AD;
  --clr-accent-purple-900: #57337B;
  --clr-accent-green-100: #62BAAC;
  --clr-accent-green-500: #4B8078;
  --border-radius: .35rem;
  --gap-sm: .5em;
  --gap-med: 1em;
  --gap-lg: 2em;
  color-scheme: light dark;
}

/* RESET */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  user-select: none;
}

body {
  font-size: 1.2rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

p {
  overflow-wrap: break-word;
}