:root {
  --clr-neutral-100: #D5CABD;
  --clr-neutral-200: #BFAF9B;
  --clr-neutral-500: #958979;
  --clr-neutral-900: #35302b;
  --clr-accent-purple-100: #B396C9;
  --clr-accent-purple-500: #7B49AD;
  --clr-accent-purple-900: #57337B;
  --clr-accent-green-100: #62BAAC;
  --clr-accent-green-500: #4B8078;
  --border-radius: .5em;
  --gap-sm: .75em;
  --gap-med: 2em;
  --gap-lg: 3em;
  color-scheme: light dark;
}

/* RESET */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  user-select: none;
}

body {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-100);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  letter-spacing: .15rem;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  border: none;
  font: inherit;
  text-align: center;
  letter-spacing: .15rem;
}

button,
.list-item {
  cursor: pointer;
}

p {
  overflow-wrap: break-word;
}

/* TYPOGRAPHY */
#groceryItem::placeholder {
  color: var(--clr-neutral-500);
}

/* LAYOUT */
.container {
  max-width: 90%;
  margin-inline: auto;
  display: grid;
  grid-template-areas: 
    "img"
    "form"
    "list";
  justify-items: center;
  align-items: center;
  gap: var(--gap-lg);
}

.emptyListImg,
input,
button,
.list-item {
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero {
  grid-area: img;
  width: 30vw;
  filter: drop-shadow(.15em .15em  rgba(0, 0, 0, 0.25));
}

#inputForm {
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: var(--gap-med);
}

#list {
  grid-area: list;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-sm);
}

#groceryItem,
#addBtn {
  width: 100%;
  padding: .5em .25em;
}

#groceryItem {
  background-color: var(--clr-accent-green-100);
}

#groceryItem:focus {
  outline: .25rem solid var(--clr-accent-green-500);
}

#addBtn {
  background-color: var(--clr-accent-green-500);
  transition: all 1s ease-in-out;
}

#addBtn:focus,
#addBtn:hover {
  color: var(--clr-accent-green-100);
  background-image: 
    linear-gradient(
      to right, 
      var(--clr-accent-green-100), 
      var(--clr-accent-green-500), 
      var(--clr-accent-green-500), 
      var(--clr-accent-green-500), 
      var(--clr-accent-green-500), 
      var(--clr-accent-green-500), 
      var(--clr-accent-green-500), 
      var(--clr-accent-green-500), 
      var(--clr-accent-green-100));
}

.list-item {
  padding: .75em .5em;
  background-color: var(--clr-accent-purple-900);
  transition: all 1s ease-in-out;
}

.list-item:focus,
.list-item:hover {
  background-color: var(--clr-accent-purple-500);
  box-shadow: none;
}

.emptyListImg {
  width: 50vw;
}
