:root {
  --clr-neutral-100: #D5CABD;
  --clr-neutral-200: #BFAF9B;
  --clr-neutral-500: #958979;
  --clr-neutral-900: #35302b;
  --clr-accent-purple-100: #B396C9;
  --clr-accent-purple-500: #7B49AD;
  --clr-accent-purple-900: #57337B;
  --clr-accent-green-100: #62BAAC;
  --clr-accent-green-500: #4B8078;
}